---
import PostCard from '@/components/PostCard'
import { cn } from '@/utils'
import type { BlogPost } from '@/utils/blog'

type Props = {
	posts: BlogPost[]
	FirstBig?: boolean
}

const { posts, FirstBig = false } = Astro.props
---

<section
	class={cn(
		`grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  gap-8 mt-3`,
		FirstBig && `md:[&>*:first-child]:col-span-2`
	)}
>
	{
		posts.map((post) => (
			<PostCard
				title={post.title}
				heroImage={post.heroImage}
				category={post.category}
				slug={post.slug}
				readTime={post.readTime}
			/>
		))
	}
</section>
